<%= form_for @packet, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :uploaded_file %><br />
    <%= f.file_field :uploaded_file %>
  </p>
  <p><%= f.submit  %></p>
<% end %>
